body{
  background-color: #E6F4FA;
}

h1{
  text-align: center;
}

.titlearticle{
  text-align: center;
}

#container1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#procedure{
  width:34%;
}


#majgit{
  width: 60%;
}

#container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
